[Unit]
Description=Telemetry
Requires=mariadb.service

[Service]
ExecStart=/opt/telemetry/venv/bin/python3 -u /opt/telemetry/collect-telemetry.py
WorkingDirectory=/opt/telemetry
StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target