[Unit]
Description=Telemetry
Requires=mariadb.service

[Service]
ExecStart=/opt/telemetry/venv/bin/python /opt/telemetry/collect-telemetry.py
WorkingDirectory=/opt/telemetry

[Install]
WantedBy=multi-user.target